<div id="map-canvas"></div>
<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBTrBJkp-8i6MZKKotUoTnzoUiXV_zlIVg' %>
<%= javascript_include_tag 'geolocation' %>
<%= javascript_tag do %>
  var notes = [];
  <% unless @notes.nil? %>
    notes = <%= raw @notes.to_json %>;
  <% end %>
  google.maps.event.addDomListener(window, 'load', initialize);
<% end %>
